.hero{
    min-height: 500px;
    background-color: var(--p-bg-color);
}

.hero__wrapper{
    display: flex;
    align-items: center;

    .hero__content{
        h2{
            font-size: 50px;
        }

        p{
            margin: 20px 0;
        }
    }
}