.modal__wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #00000057;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transform: .3s;
    & > form{
        padding: 20px;
        max-width: 700px;
        width: 100%;
        background-color: #fff;
    }
    & > button{
        margin: 10px;
        position: fixed;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        font-size: 40px;
    }
}

.active {
    transform: scale(0);
}
