.home__reel{
    padding-top: 50px;
    h2{
        font-size: 40px;
        font-family: var(--source-pro);
    }
}
.reel__wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
    padding-bottom: 100px;
}