.nav__seo-title {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.nav {
    background-color: var(--p-bg-color);
    border-bottom: 1px solid var(--p-bg-dark);
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__list {
        display: flex;
        gap: 0 20px;
        padding: 30px 0;
        .nav__link{
            text-decoration: none;
            color: var(--p-text-dark);
            font-size: 20px;
        }
    }
}